# Python Quickstart
#### Lists and strings
#### for
Lists are the simplest containers that are an integral part of the Python language. **for** loops are the standard way to iterate over all types of containers; so we will look at both of them together.

In [ ]:
for variable in sequence:
    statements block

In [1]:
for code in [1,2,3,4,5] :
    print(code)

1
2
3
4
5

In [ ]:
range(stop)
range([start],stop[,step])

In [6]:
list(range(5))
#list(range(1,15))
#list(range(15,1,-1))
#list(range(-10,-1,2))

[0, 1, 2, 3, 4]

**print all even numbers in a given range**
**print all palindrome numbers with in the given range**

#### strings
Python strings can be enlosed in single quotes or double quotes or triple quotes! Let us look at each of them

In [7]:
grading = "Tests, Quizzes, Individual Labs, Group Labs and Hackathons"
print(grading)

Tests, Quizzes, Individual Labs, Group Labs and Hackathons

In [8]:
tests = "CFU's, Analytical, References and Comprehension"
print(tests)

CFU's, Analytical, References and Comprehension

Note how in the string *tests* the single quote is accepted as part of the string without any special escpae mechanism. Similarly we can create and use strings with double quotes inside by enclosing the whole string in single quotes. Here is an example.

In [9]:
faq = 'Almost all ask "What is the best k?" when doing kNN'
print(faq)

Almost all ask "What is the best k?" when doing kNN

Triple quoted strings are best used for documentation. They are also useful for storing long strings.
 * We can use single or double quotes
 * We can also use single quotes or double quotes within
 * The line breaks etc are captured; that is there is no need for \n

In [11]:
story = """A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking 
from a hidden base, have won their first victory against 
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret 
plans to the Empire's ultimate weapon, the DEATH STAR, 
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia 
races home aboard her starship, custodian of the stolen 
plans that can save her people and restore freedom to the galaxy...."""
print(story)

SyntaxError: EOL while scanning string literal (<ipython-input-11-ab132e015eb7>, line 1)

##### Simple string operations
 * Concatnate by +, 
 * multiple concatenation by * 
 * check for substring with **in**
 * determine the size (number of characters) using *len*

In [13]:
h = "Hello"
w = "world!"
hw = h + w
print(hw) #helloworld!
hsw = h + ' ' + w
print(hsw)#hello world
h4s3w2 = h * 4 + " " * 3 + w * 2
print(h4s3w2)
print(h in hsw)
print(' ' in hw) #
print(len(h4s3w2))

Helloworld!
Hello world!
HelloHelloHelloHello   world!world!
True
False
35

**Accessing Characters in string**

In [17]:
str1 = "String in python"
print(str1)
print(str1[0])
print(str1[5])
print(str1[-8])
print(str1[-1])
print(str1[-3])

String in python
S
g
n
n
h

#### Lists
Let us take a look at lists. A list is a collection of things, enclosed in [] and separated by commas. A list is heterogenous; that is the data types of the things need not be the same.

**Immutable
**Mutable

In [21]:
print(oddjob)

[1, 5.6, True, (4-7j), 'Hello', [1, 2], [3.9, 'World']]

In [19]:
print(len(grading))

5

In [22]:
# We access individual elements using the index
# The first element is at index 0
print(grades[1], oddjob[4])
# We access the elements from the back using negative indices
# -1 is the last, -2 is the last but one and so on
print(grading[-1], grading[-3])

60 Hello
Hackathons Individual Labs

In [24]:
print(sum(f), sum(p))
print(sum(mix))

20 17

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
print(max(grades), min(grades))

300 60

In [20]:
f = [1, 1, 2, 3, 5, 8]
x = []
p = [2, 3, 5, 7]
grading = ["Tests", "Quizzes", "Individual Labs", "Group Labs", "Hackathons"]
grades = [300, 60, 120, 60, 120]
mix = ["A",12,13.7,-2]
oddjob = [1, 5.6, True, 4-7j, "Hello", [1, 2], [3.9, "World"]]

#### For
We can step through the items in a collection, such as a list or string (and many others) using **for**

In [28]:
for value in oddjob:
    print(value)

1
5.6
True
(4-7j)
Hello
[1, 2]
[3.9, 'World']

In [29]:
for test in grading:
    print(test)

Tests
Quizzes
Individual Labs
Group Labs
Hackathons

Note the absence of the usual *index* variable etc. We can step through the characters in a string the same way

In [30]:
for ch in "Hello":
    print(ch)

H
e
l
l
o

In [ ]:
#### List methods

In [31]:
print(f)

[1, 1, 2, 3, 5, 8]

In [32]:
f.append(13)
print(f)

[1, 1, 2, 3, 5, 8, 13]

In [33]:
f.extend([21, 34, 55, 89])
print(f)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [34]:
p = p + [11, 13, 17, 19]
print(p)

[2, 3, 5, 7, 11, 13, 17, 19]

#### Slicing
We can get substrings and sublists using a slice

In [38]:
print(f)
print(f[2:7])
print(f[2:11:3])
print(p)
print(p[::-1]) #REVERSE

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[2, 3, 5, 8, 13]
[2, 8, 34]
[2, 3, 5, 7, 11, 13, 17, 19]
[19, 17, 13, 11, 7, 5, 3, 2]

In [44]:
# We can slice strings too
print(h4s3w2)
print(h4s3w2[11:26])
print(hsw)
#print(hsw[start,stop,step_diff])
print(hsw[2::3])
print(hw[::-1])

HelloHelloHelloHello   world!world!
elloHello   wor
Hello world!
l r!
!dlrowolleH

**Program to print all three digits palindrome numbers**
**Program to print all prime numbers with in a given range**