In [1]:
!pip install db-sqlite3
import sqlite3

Requirement already satisfied: db-sqlite3 in c:\users\supriya\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: db in c:\users\supriya\anaconda3\lib\site-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in c:\users\supriya\anaconda3\lib\site-packages (from db->db-sqlite3) (1.2.1)

In [2]:
conn=sqlite3.connect('exp2.db')
cur=conn.cursor()
conn = sqlite3.connect('test.db')
print ("Opened database successfully");

Opened database successfully

In [4]:
conn.execute('''CREATE TABLE COMPANY2

         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully");

Table created successfully

In [7]:
conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Sanju', 25, 'Hyderabad', 25000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Annu', 22, 'Medak', 20000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Karthik', 24, 'Nizambad', 30000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Megha', 25, 'Warangal', 60000.00 )");

conn.commit()
print ("Records created successfully");

IntegrityError: UNIQUE constraint failed: COMPANY1.ID