In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 1.8 MB/s eta 0:00:01
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1795 sha256=1fee02d5341a2a1de333ed099cbbbf928f14dc1cbd2c75591ea674299c9bbaea
  Stored in directory: /home/satya/.cache/pip/wheels/9a/a0/6f/b4ceab4614797b65af7a296172bf4bdc106702d7f18beafa57
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=38f752ff7b8ee6882d7d7c9cd8c9703788b7acb30c66aec39d1d73030bc2eff4
  Stored in directory: /home/satya/.cache/pip/wheels/43/94/01/2470e037a87c7f4fe93e4a110ee8c01b495d53db5de40b216b
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31665 sha256=c83181662d92a3d4745a7f7697d15c340637a27c52fbf661a076a64f77fc0e27
  Stored in directory: /home/satya/.cache/pip/wheels/23/fc/3e/c02e21af9692d533cae0374d54eb3502764cedb8a3edaf6e5c
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [3]:
import sqlite3

In [6]:
conn = sqlite3.connect('exp2.db')
cur = conn.cursor()
print("Opened database successfully!")

Opened database successfully!

In [7]:
conn.execute('''CREATE TABLE COMPANY2
(ID INT PRIMARY KEY NOT NULL,
NAME TEXT NOT NULL,
AGE INT NOT NULL,
ADDRESS CHAR(50),
SALARY REAL);''')
print("Table created successfully!")

Table created successfully!

In [8]:
conn.execute("INSERT INTO COMPANY2(ID, NAME, AGE, ADDRESS, SALARY) \
     VALUES (1, 'Paul', 20, 'California', 20000.0)");
conn.execute("INSERT INTO COMPANY2(ID, NAME, AGE, ADDRESS, SALARY) \
     VALUES (2, 'Suzen', 42, 'Texas', 54000.0)");
conn.execute("INSERT INTO COMPANY2(ID, NAME, AGE, ADDRESS, SALARY) \
     VALUES (3, 'John', 34, 'Norway', 32000.0)");
conn.execute("INSERT INTO COMPANY2(ID, NAME, AGE, ADDRESS, SALARY) \
     VALUES (4, 'Ana', 56, 'Chicago', 65000.0)");
conn.commit()
print("Records inserted successfully!")

Records inserted successfully!

In [9]:
for row in conn.execute('select * from COMPANY2'):
    print(row)

(1, 'Paul', 20, 'California', 20000.0)
(2, 'Suzen', 42, 'Texas', 54000.0)
(3, 'John', 34, 'Norway', 32000.0)
(4, 'Ana', 56, 'Chicago', 65000.0)

In [10]:
conn.commit()

In [11]:
conn.close()