In [ ]:
pip install db-sqlite3

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('exp2')
cur = conn.cursor()
print("Connection with database established!")

Connection with database established!

In [3]:
conn.execute('''CREATE TABLE XYZCompany
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully!");

OperationalError: table XYZCompany already exists

In [4]:
records = [(5, 'Glen', 38, 'Germany', 50000.00), (6, 'Elliot', 49, 'USA' , 70000.00)]
conn.executemany('INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES(?, ?, ?, ?, ?);',records);

conn.commit()
print ("Records created successfully");

Records created successfully

In [5]:
for row in conn.execute("select * from XYZCompany"):
    print(row)

(5, 'Glen', 38, 'Germany', 50000.0)
(6, 'Elliot', 49, 'USA', 70000.0)

In [6]:
conn.commit()
conn.close()